@inject IStringLocalizer<SharedResource> L

@if (ViewData.ModelState.Values.SelectMany(v => v.Errors).Any())
{
    <div class="validation-summary__error-message validation-summary-errors" data-valmsg-summary="true">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values) {
                @foreach (var error in modelState.Errors) {
                    <li>@L[error.ErrorMessage]</li>
                }
            }
        </ul>
    </div>
}