@using Schematic.Core
@using Schematic.Identity
@model ResourceListModel<User>
@inject IHtmlLocalizer<SharedResource> L

<ul class="resource-list">
    @foreach (var resource in Model.List)
    {
        <li class="resource-list__item">
            <schematic-resource-list-link resource-id="@resource.ID"
                status="@((Model.ActiveResourceID == resource.ID) ? "active" : String.Empty)">
                @resource.FullName
            </schematic-resource-list-link>
        </li>
    }
</ul>